.trainer {
    display: flex;
}

.trainer-left {
    flex: 0 1 500px;
}

.trainer-right {
    flex: 1 0 130px;
}

.skewb-box {
    /* border: solid; */
    padding: 0;
}

button {
    padding: 5px;
}

button.error {
    color: red;
}