.trainer {
    display: flex;
}

.trainer-left {
    flex: 0 1 500px;
}

.trainer-right {
    flex: 0 0 130px;
}

.skewb-box {
    /* border: solid; */
    padding: 0;
}

button {
    display: block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
}

button.error {
    color: red;
    background-color: rgb(255, 228, 233);
}

.trainer-right.up-down .pi-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.trainer-right.up-down .pi-buttons button {
    display: block;
    width: calc(50% - 20px);
    aspect-ratio: 1;
    cursor: pointer;
}

.trainer-right.up-down .peanut-buttons {
    display: flex;
    gap: 5px;
}

.trainer-right.up-down .peanut-buttons div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trainer-right.up-down .peanut-buttons button {
    display: block;
    aspect-ratio: 1;
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
}

.trainer-right.sideways .peanut-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.trainer-right.sideways .peanut-buttons button {
    display: block;
    width: calc(50% - 20px);
    aspect-ratio: 1;
    cursor: pointer;
}

.trainer-right.sideways .pi-buttons {
    display: flex;
    gap: 5px;
}

.trainer-right.sideways .pi-buttons div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trainer-right.sideways .pi-buttons button {
    display: block;
    aspect-ratio: 1;
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
}